
@font-face {
    font-family: Benchmark;
    src: url("./assets//fonts//Benchmark.ttf");
}


.MuiList-root {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* user-select: none; */
    ;
}

.MuiTextField-root {
    width: 100%;
  
}
.MuiInputBase-input{
    height: 12vw;
}

form {
    display: contents;
    width: 100%;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    overflow-y: auto;
    /* height: 100%; */
    background-image: url("./assets/backgroundWrap.png");
    background-position: center;
    background-size: cover;
}

#root {
    height: 100%;
}

section {
    display: contents;
}

.MuiPaper-root {
    display: flex;
    flex-shrink: 0;
}

.MuiBox-root {
    display: flex;
    flex-shrink: 0;
}

img {
    object-fit: contain;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::selection {
    color: white;
    background: #00afef;
}
